@font-face {
  font-family: "Asul-Regular";
  src: url("./../font/Asul-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "BasisGrotesquePro-Regular";
  src: url("./../font/BasisGrotesquePro-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
body {
  margin: 0;
  font-size: 16px;
  padding: 0;
  font-family: "BasisGrotesquePro-Regular";
}

.font-title {
  font-family: "Asul-Regular";
  font-weight: 700;
}

* {
  box-sizing: border-box;
  outline: 0;
  outline-offset: 0 !important;
}

a:hover, a:focus {
  text-decoration: none !important;
  color: inherit;
}

a {
  color: inherit;
  transition: 0.3s;
  display: inline-block;
}

.arrow.swiper-button-disabled {
  opacity: 0.5 !important;
}

button {
  background: none;
  outline: 0;
  border: 0;
  display: inline-block;
  transition: 0.3s;
}

button:focus {
  outline: 0 !important;
}

button[disabled]:hover {
  box-shadow: none !important;
  transform: unset !important;
}

input, textarea {
  background-color: transparent;
  border: none;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 15px 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.swiper-button-lock {
  display: none !important;
}

/*color Class*/
.color-gold {
  color: #FADA5E !important;
}

.color-brown {
  color: #746223 !important;
}

.color-dark-Blue {
  color: #255965 !important;
}

.color-white {
  color: #FFFFFF !important;
}

.color-dark {
  color: #707070 !important;
}

/* backGround-color */
.b-g-gold {
  background-color: #FADA5E !important;
}

.b-g-brown {
  background-color: #746223 !important;
}

.b-g-gdark-Blue {
  background-color: #255965 !important;
}

.b-g-white {
  background-color: #FFFFFF !important;
}

.b-g-dark {
  background-color: #707070;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 575px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1350px !important;
  }
}

/*# sourceMappingURL=init.css.map */
