@import "respansive";
@import "variables";
@font-face {
  font-family: 'Asul-Regular';
  src:  url('./../font/Asul-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BasisGrotesquePro-Regular';
  src:  url('./../font/BasisGrotesquePro-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-size: 16px;
  padding: 0;
  font-family: 'BasisGrotesquePro-Regular';
}

.font-title{
  font-family: 'Asul-Regular';
  font-weight: 700;
}

//for all
* {
  box-sizing: border-box;
  outline: 0;
  outline-offset: 0 !important;
}

a:hover, a:focus {
  text-decoration: none !important;
  color: inherit;
}

a {
  color: inherit;
  transition: 0.3s;
  display: inline-block;
}

.arrow.swiper-button-disabled {
  opacity: 0.5 !important;
}

button {
  background: none;
  outline: 0;
  border: 0;
  display: inline-block;
  transition: 0.3s;
}

button:focus {
  outline: 0 !important;
}

button[disabled]:hover {
  box-shadow: none !important;
  transform: unset !important;
}

input, textarea {
  background-color: transparent;
  border: none;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 15px 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.swiper-button-lock {
  display: none !important;
}

/*color Class*/

.color-gold{
  color: $gold !important;
}

.color-brown{
  color: $brown !important;
}

.color-dark-Blue{
  color: $darkBlue !important;
}

.color-white{
  color: $white !important;
}

.color-dark{
  color: $dark !important;
}


/* backGround-color */

.b-g-gold{
  background-color: $gold !important;
}

.b-g-brown{
  background-color: $brown !important;
}

.b-g-gdark-Blue{
  background-color: $darkBlue !important;
}

.b-g-white{
  background-color: $white !important;
}

.b-g-dark{
  background-color: $dark;
}

/* Loader*/
.loader-page{
  background-color: rgb(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  display: none;
}


.loader-page.active{
  display: flex;
}



@include respond("mobiles") {

  body {
    font-size: 15px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 15px;
  }
}

@include respond("xs") {

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 15px;
  }
}

@include respond("sm") {

}

@include respond("md") {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 15px;
  }
}

@include respond("lg") {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
}


