#search .filters {
  text-align: center;
  margin-bottom: 25px;
}
#search .filters .filters-holder {
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  padding: 15px;
  border-radius: 5px;
}
#search .filters .clear-filter, #search .filters .show-filter {
  background-color: #255965;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 0 2px 5px rgba(37, 89, 101, 0.5);
  margin: 10px 0;
  border: 1px solid transparent;
}
#search .filters .clear-filter:hover, #search .filters .show-filter:hover {
  background-color: #FFFFFF;
  border: 1px solid #255965;
  color: #255965;
}
#search .filters .show-filter, #search .filters .close-filters {
  display: none;
}
#search .filters .close-filters {
  font-size: 20px;
  position: fixed;
  left: 25px;
  z-index: 1;
  top: 15px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #255965;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
}
#search .filters .filter {
  background-color: #FFFFFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  border-radius: 2px;
  margin-bottom: 15px;
  position: relative;
  text-align: left;
}
#search .filters .filter-title {
  text-align: center;
  position: relative;
  z-index: 0;
  margin-bottom: 15px;
}
#search .filters .filter-title .f-text {
  background-color: #FFFFFF;
  padding: 10px 15px;
  z-index: 9;
  font-size: 1.5em;
  color: #255965;
}
#search .filters .filter-title:before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #255965;
  top: 50%;
  margin-top: -2px;
  left: 0;
  z-index: -1;
  width: 100%;
}
#search .filters .types {
  padding: 0 2px;
  max-height: 200px;
  overflow: auto;
  direction: rtl;
  margin: 0 3px;
  scrollbar-width: thin;
}
#search .filters .types::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.25);
  width: 10px;
  border-radius: 10px;
}
#search .filters .types::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
#search .filters .types .types-holder {
  direction: ltr;
  padding: 5px;
}
#search .filters .range {
  padding: 25px 20px;
}
#search .filters .range .input-range__track {
  height: 8px;
  background: rgba(37, 89, 101, 0.3);
}
#search .filters .range .input-range__track--background {
  left: 0;
  margin-top: -4px;
  position: absolute;
  right: 0;
  top: 50%;
}
#search .filters .range .input-range__slider {
  background: #FFFFFF;
  border: 1px solid #255965;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-top: 0;
  top: calc(50% - 15px);
  margin-left: -10px;
}
#search .filters .range .input-range__track--active {
  background-color: #255965;
}
#search .filters .range .input-range__label-container {
  left: 0;
  width: 20px;
  margin-left: -8px;
  display: block;
  text-align: center;
}
#search .filters .range .input-range__label {
  font-size: 0.9em;
  color: #255965;
  font-family: "Asul-Regular";
}
#search .filters .range .input-range__label--value {
  top: -35px;
  color: rgba(37, 89, 101, 0.8);
  font-size: 0.7em;
  font-family: "Asul-Regular";
}
#search .inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  padding: 15px;
  border-radius: 5px;
}
#search .inputs .input {
  width: 46%;
  display: flex;
  align-items: center;
}
#search .inputs .search-by-name {
  border-radius: 5px;
  margin-right: 25px;
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
#search .inputs .search-by-name input {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  #search .inputs .search-by-name input {
    width: 85%;
  }
}
#search .inputs .search-by-name button {
  min-width: 25px;
}
#search .inputs .sort-by .text {
  min-width: 75px;
}
#search .inputs .sort-by .select-box {
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
#search .show-result {
  min-height: 500px;
}
#search .show-result .res-player {
  background-image: url("./../img/bg-palyer.png");
  margin: 0 auto 20px auto;
  background-size: 100% 100%;
  border-radius: 5px 5px 15% 15%;
  padding: 20px 25px 55px 25px;
  text-align: left !important;
}
#search .show-result .res-player .res-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#search .show-result .res-player .res-info .p-img {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  border: 2px solid #746223;
}
#search .show-result .res-player .res-info .p-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #D3D3D3;
}
#search .show-result .res-player .res-info .t-i-text {
  width: 50%;
  text-align: center;
}
#search .show-result .res-player .res-info .t-i-text .ova {
  font-size: 2.5em;
}
#search .show-result .res-player .res-info .t-i-text .bp {
  font-size: 1.5em;
}
#search .show-result .res-player .bottom-info .p-name {
  font-size: 1.4em;
}
#search .show-result .res-player .bottom-info .p-nationality {
  margin-bottom: 15px;
}
#search .show-result .res-player .bottom-info .card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  color: #393939;
}
#search .show-result .res-player .bottom-info .card-items:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#search .show-result .res-player .bottom-info .card-items .item {
  width: 45%;
  display: flex;
  margin: 5px 0;
  font-size: 1.2em;
}
#search .show-result .res-player .bottom-info .card-items .item div {
  width: 50%;
  justify-content: space-between;
}
#search .show-result .res-player .bottom-info .card-items .item div:last-child {
  text-align: right;
}
#search .show-result .res-player:hover {
  opacity: 0.9;
  transform: translateY(-5px);
}
#search .number-pages {
  padding-left: 25px;
}
#search .number-pages button {
  background-color: #255965;
  color: #FFFFFF;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
#search .number-pages form {
  display: inline;
}
#search .number-pages input {
  border: 1px solid #255965;
  margin: 0 5px;
  display: inline;
  width: 50px;
  padding: 2px;
}
#search .not-found-player {
  margin: 25px 0;
  text-align: center;
}
#search .not-found-player .img {
  width: 50%;
  margin: 0 auto 15px auto;
}
#search .not-found-player .img img {
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  #search .filters {
    text-align: center;
    margin-bottom: 25px;
  }
  #search .filters .filters-holder {
    border-radius: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9991;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 50px 25px;
    display: none;
  }
  #search .filters .filters-holder.active {
    display: block;
  }
  #search .filters .show-filter {
    display: inline-block;
  }
  #search .filters .close-filters {
    display: flex;
  }
  #search .filters .filter {
    width: 70%;
    margin: auto auto 15px auto;
  }
}
@media only screen and (max-width: 575px) {
  #search .filters .close-filters {
    font-size: 18px;
    left: 15px;
    top: 15px;
    height: 30px;
    width: 30px;
  }
  #search .filters .filter {
    width: 80%;
  }
  #search .inputs {
    display: block;
  }
  #search .inputs .input {
    width: 100%;
    display: flex;
    align-items: center;
  }
  #search .inputs .search-by-name {
    margin-bottom: 25px;
    border-radius: 5px;
    margin-right: 25px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  }
  #search .inputs .search-by-name input {
    width: 100%;
  }
  #search .inputs .search-by-name button {
    min-width: 25px;
  }
  #search .inputs .sort-by .text {
    min-width: 75px;
  }
  #search .inputs .sort-by .select-box {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #search .filters {
    text-align: center;
    margin-bottom: 25px;
  }
  #search .filters .filters-holder {
    border-radius: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9991;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 50px 25px;
    display: none;
  }
  #search .filters .filters-holder.active {
    display: block;
  }
  #search .filters .show-filter {
    display: inline-block;
  }
  #search .filters .close-filters {
    display: flex;
  }
  #search .filters .filter {
    width: 70%;
    margin: auto auto 15px auto;
  }
}

/*# sourceMappingURL=search.css.map */
